

<mat-toolbar class="mat-elevation-z1 toolbar">
  <div class="nav_logo">
    <a routerLink=""><span>site7</span></a>
      
  </div>
  <div class="nav_navigation">
      <!-- <a mat-button routerLink="css" routerLinkActive="active">Css</a>
      <a mat-button routerLink="layout" routerLinkActive="active">layout</a>-->
      <a mat-button routerLink="map" routerLinkActive="active">game</a> 
      
      <button mat-button (click)="Login()">Login</button>
      <button mat-button (click)="Logout()">Logout</button>
      <button>{{username | async}}</button>
  </div>
  <div class="options">

  </div>
</mat-toolbar>





<div class="content mat-elevation-z10">
    <router-outlet></router-outlet>
</div>
