<div>
  <div class="title">{{this.villageData.name}} {{this.data.attacktype}} {{this.villageService.GetVillageData(this.data.id).name}}</div>

  <div *ngFor="let unit of this.unitdata; index as i;" >
    <label class="unitname">{{unit.name}}</label>
    <mat-slider 
    value="selection[i]"
    [max]="this.villageData.units[unit.id - 1]"
    thumbLabel="true"
    [disabled]="this.villageData.units[unit.id - 1] == 0"
    aria-label="unit(s)">

    </mat-slider>
    <label>{{this.villageData.units[unit.id - 1]}}</label>
  </div>

  
</div>