<div *ngIf="this.villageData && this.targetVil">
  <div class="title">{{this.villageData.name}} {{this.data.attacktype}} {{this.targetVil.name}}</div>

  <div *ngFor="let unit of this.unitdata; index as i;" >
    
    <label *ngIf="this.villageData.unitCount" class="unitname">{{unit.name}}</label>
    <mat-slider 
    value="selection[i]"
    [(ngModel)]="selection[i]"
    [max]="getunitamount(unit.id)"
    thumbLabel="true"
    [disabled]="getunitamount(unit.id) == 0"
    aria-label="unit(s)">

    </mat-slider>
    <label>{{getunitamount(unit.id)}}</label>
  </div>

  <button mat-flat-button color="accent" aria-label="Village" (click)="OnAttack()">
    <mat-icon> call_made</mat-icon> attack
  </button>

  
</div>